 $primary-font: 'Open Sans', sans-serif;

$cifilterio-primary: #F5BD5D;
$cifilterio-bright-green: #7ed321;
$cifilterio-background-color: #f7f7f7;

$cifilterio-primary-dark-gray: #9b9b9b;
$cifilterio-primary-light-gray: #dcdcdc;
$cifilterio-soft-text-color: #333333;

* {
  box-sizing: border-box;
}

html, body {
    font-family: $primary-font;
    background-color: $cifilterio-background-color;
    font-weight: 300;
}

/* This prevents the page from overscrolling
 * http://stackoverflow.com/questions/12046315/prevent-overscrolling-of-web-page 
 */
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}

/* Positioning */
.position--absolute {
    position: absolute;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* TODO Clean this up! */
h1 {
    font-size: 48px;
    // bootstrap overrides
    margin: 0;
    line-height: 1;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  line-height: 18px;
}

$red: #F44336;
$red-500: $red;

$blue-500: #2196F3;
$blue: #2196F3;
$blue-700: #1976D2;

$grey-200: #eeeeee;
$grey-300: #e0e0e0;
$grey: #9e9e9e;
$grey-500: $grey;
$grey-700: #616161;

$colors: (
  grey-50: #fafafa,
  grey-100: #f5f5f5,
  grey-200: $grey-200,
  grey-300: $grey-300,
  grey-400: #bdbdbd,
  grey-500: $grey,
  grey: $grey,
  grey-600: #757575,
  grey-700: $grey-700,
  grey-800: #424242,
  grey-900: #212121
);

@each $name, $color in $colors {
  .bg--#{$name} { background-color: $color !important; }
  .text--#{$name} { color: $color !important; }
  .border--#{$name} { border: 1px solid $color !important; }
}

.text--bold {
  font-weight: 700;
}

$length-x: 12px;
$length-y: 12px;
$dimensions: (
  none: (
    x: 0,
    y: 0
  ),
  sm: (
    x: $length-x,
    y: $length-y
  ),
  md: (
    x: ($length-x * 2),
    y: ($length-y * 2)
  ),
  lg: (
    x: ($length-x * 3),
    y: ($length-y * 3)
  ),
  xl: (
    x: ($length-x * 4),
    y: ($length-y * 4)
  )
);


@each $abbrev in ('margin', 'padding') {
  @each $size, $lengths in $dimensions {
    $length-x: map-get($lengths, x);
    $length-y: map-get($lengths, y);

    .#{$abbrev}--#{$size} { #{$abbrev}: $length-y $length-x !important; }
    .#{$abbrev}-top--#{$size} { #{$abbrev}-top: $length-y !important; }
    .#{$abbrev}-right--#{$size} { #{$abbrev}-right: $length-x !important; }
    .#{$abbrev}-bottom--#{$size} { #{$abbrev}-bottom: $length-y !important; }
    .#{$abbrev}-left--#{$size} { #{$abbrev}-left: $length-x !important; }

    .#{$abbrev}-horizontal--#{$size} {
      #{$abbrev}-right:  $length-x !important;
      #{$abbrev}-left:   $length-x !important;
    }
    .#{$abbrev}-vertical--#{$size} {
      #{$abbrev}-top:    $length-y !important;
      #{$abbrev}-bottom: $length-y !important;
    }
  }
}

.text--link {
  color: $blue; 
}

$transition-duration: 0.5s;

.transition {
  -webkit-transition: $transition-duration;
    -moz-transition: $transition-duration;
      -o-transition: $transition-duration;
        transition: $transition-duration;
}

@mixin icon-size($size) {
  height: $size;
  line-height: $size;
  font-size: $size;
}

@mixin cifilterio-blurred() {
  filter: blur(3px); 
  -webkit-filter: blur(3px); 
  -moz-filter: blur(3px);
  -o-filter: blur(3px); 
  -ms-filter: blur(3px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
}
